@font-face {
    font-family: myFirstFont;
    src: url(fonts/Apocalypse.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    background-image: url('images/bg.jpg');
    background-size: 100vw 100vh;

}

.main {   
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.second {
    display: grid;
    grid-template-columns: auto;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    justify-self: end;
    height: 100vh;
   
}

nav a {
    font-family: 'myFirstFont';
    padding: 30px;
    font-size: 25px;
    color: white;
    text-decoration: none;
   

}

/*Link highlights over mouse*/
a:hover {
    color: red;
   
}
/*Vertical nav bar through unlist tag*/
nav ul {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-content: center;
}


nav ul li {
    margin: 10% 0px;
}


section {
    background-color: rgba(0, 0, 0, 0.8);
    width: 55%;
    height: 55%;
    align-self: center;
    justify-self: center;
    overflow: scroll;
}

h1 {
    text-align: center;
    font-family: myFirstFont;
    font-size: 20px;
    color: white;

}

p {
    font-family: 'Bahnschrift';
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: white;

}

 /*Spacing Nav a links/vertical */

li a {
    display: block;
  
}
    

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button {
    margin: auto;
    font-size: 20px;
    font-family: myFirstFont; 
}


button {
    background-color: black;
    color: red;
    box-shadow: 2px 2px red;
}

#text {
    color: red;
    
}

.special, a {
    color: yellow;
    font-size: 20px;
    text-decoration: underline;
    
}

.info1 {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: auto;
          
}
